<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.wsgwz.gravity">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <!-- <uses-permission	android:name="android.permission.ACCESS_COARSE_LOCATION"	/> -->
    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/diqiu"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
       >
       <!-- android:theme="@style/AppTheme"-->
        <!-- android:configChanges="orientation|keyboardHidden" -->
        <!-- android:windowSoftInputMode="adjustUnspecified|stateHidden" -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeMianAcivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

                <!--
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cn.wsgwz.gravity"
                    android:scheme="cn.wsgwz" />
                -->
            </intent-filter>
        </activity>

        <service android:name=".service.ProxyService"
            android:process=":remoteProxy">
            <intent-filter>
                <action android:name="cn.wsgwz.gravity.ProxyService"></action>
            </intent-filter>
        </service>

        <activity
            android:name=".activity.GraspDataFilePreviewActivity"
            android:theme="@style/GraspPreViewTheme" />
        <activity android:name=".activity.DefinedShellActivity" />
        <activity android:name=".activity.PackageInfoActivity" />

        <receiver android:name=".receiver.SelfStartingReceiver">
            <intent-filter>
                <action android:name="cn.wsgwz.gravity.Restart" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.ConfigEditActivity"
            android:theme="@style/AppTheme"/>


        <activity android:name=".demo.Main2Activity" />
        <activity android:name=".demo.Main3Activity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"></activity>



        //腾讯广告
        <service android:name="com.qq.e.comm.DownloadService" android:exported="false" />
        <activity android:name="com.qq.e.ads.ADActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
    </application>

</manifest>